<a href="https://colab.research.google.com/github/amysukhoo/data_analytics/blob/main/Python/Amy_Sukhoo_Practice_Exercise_for_Review011221.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to sum all the items in a list

In [ ]:
def sum_list(items):
  sum_numbers = 0
  for x in items:
     sum_numbers += x
  return sum_numbers
print(sum_list([1,2,3]))

6

2. Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings
* Sample List : ['abc', 'xyz', 'aba', '1221']

In [ ]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2

3. Write a Python function that takes two lists and returns True if they have at least one common member.

In [ ]:
def common_data(list1, list2):
     result = False
     for x in list1:
         for y in list2:
             if x == y:
                 result = True
                 return result
print(common_data([1,2,3,4,5], [5,6,7,8,9]))
print(common_data([1,2,3,4,5], [6,7,8,9]))

True
None

4. Write a Python program to print a specified list after removing the 0th, 4th and 5th elements.
* Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [ ]:
colors= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
colors =[x for (i,x) in enumerate(colors) if i not in (0,4,5)]
print(colors)

['Green', 'White', 'Black']

5. Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [ ]:
num = [1,2,3,4,5,6]
num = [x for x in num if x%2!=0]
print(num)

[1, 3, 5]

6. Write a Python program to convert a list of characters into a string.

In [ ]:
list=['a','b','c','d']
''.join(list)

'abcd'

8. Write a Python program to count the number of elements in a list within a specified range.

In [ ]:
def count_range_in_list(li,min,max):
  ctr=0
  for x in li:
      if min <= x <= max:
        ctr += 1
  return ctr

list= [2,4,6,8,10]
print(count_range_in_list(list,6,10))

3

9. Write a Python program to convert a list of multiple integers into a single integer
*  Sample list: [11, 33, 50]

In [ ]:
samplelst= [11, 33, 50]
for i in samplelst:
    print(i,end="")

113350

10.Write a Python program to print a nested lists (each list on a new line) using the print() function.

*  colors = [['Red'], ['Green'], ['Black']]

In [ ]:
colors = [['Red'], ['Green'], ['Black']]

for i in colors:
        print(*i)

Red
Green
Black

11. Write a Python script to concatenate following dictionaries to create a new one using a loop

* dic1={1:10, 2:20}
* dic2={3:30, 4:40}
* dic3={5:50,6:60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4= {}
for d in (dic1,dic2,dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

12.Write a Python script to check whether a given key already exists in a dictionary.

In [ ]:
dictionary = {1:'Amy',2: 'is', 3:'my', 4:'name'}
def is_key_present(x):
  if x in dictionary:
    print('key is present in the dictionary')
  else:
    print('key is not present in the dictionary')
is_key_present(3)
is_key_present(5)

key is present in the dictionary
key is not present in the dictionary

13  Write a Python program to check the validity of password input by users. Go to the editor
Validation :
*  At least 1 character from [$#@].
*  Minimum length 6 characters.

In [ ]:
import re
p=input("Input your password")
x = True
while x:
  if(len(p)<6):
    break
  elif not re.search("[$#A]", p):
    break
  else:
     print("Valid Password")
     x=False
     break
if x : 
  print("Not a valid password")

Input your password12345$
Valid Password

14. Write a Python program to reverse a string

In [ ]:
def reverse_slicing(s):
    return s[::-1]

input_str = 'ABCDEF'

if __name__ == "__main__":
    print('Reverse String using slicing =', reverse_slicing(input_str))

Reverse String using slicing = FEDCBA

15. rite a Python program that accepts a hyphen-separated sequence of words as input and prints the words in a hyphen-separated sequence after sorting them alphabetically
* green-red-yellow-black-white

In [ ]:
items=[n for n in input().split('-')]
items.sort()
print('-'.join(items))

green-red-yellow-black-white
black-green-red-white-yellow