<a href="https://colab.research.google.com/github/amysukhoo/data_analytics/blob/main/Python/AmySukhoo_Python_Basics_Exercise1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PYTHON EXERCISE FOR PRACTICE**

**1: Given a two integer numbers return their product and  if the product is greater than 1000, then return their sum**

number1 = 20

number2 = 30

In [ ]:
def multiplication_or_sum(num1, num2):
    product = num1 * num2
    if product <= 1000:
        return product
    else:
        return num1 + num2

number1 = 20
number2 = 30

result = multiplication_or_sum(number1, number2)
print("The result is", result)

The result is 600

**2: Given a range of first 10 numbers, Iterate from start number to the end number and print the sum of the current number and previous number.**

In [ ]:
def sumNum(num):
    previousNum = 0
    for i in range(num):
        sum = previousNum + i
        print("Current Number", i, "Previous Number ", previousNum," Sum: ", sum)
        previousNum = i

print("Printing current and previous number sum in a given range(10)")
sumNum(10)

Printing current and previous number sum in a given range(10)
Current Number 0 Previous Number  0  Sum:  0
Current Number 1 Previous Number  0  Sum:  1
Current Number 2 Previous Number  1  Sum:  3
Current Number 3 Previous Number  2  Sum:  5
Current Number 4 Previous Number  3  Sum:  7
Current Number 5 Previous Number  4  Sum:  9
Current Number 6 Previous Number  5  Sum:  11
Current Number 7 Previous Number  6  Sum:  13
Current Number 8 Previous Number  7  Sum:  15
Current Number 9 Previous Number  8  Sum:  17

**3: In the string "pynative", display only those characters which are present at an even index number.**

In [ ]:
def printevenindexchar(str):
  for i in range(0, len(str)-1, 2):
    print("index[",i,"]", str[i] )

inputStr = "pynative" 

print("Printing only even index chars")
printevenindexchar(inputStr)

Printing only even index chars
index[ 0 ] p
index[ 2 ] n
index[ 4 ] t
index[ 6 ] v

**4: In the string "pynative" remove characters from zero up to 5 and return a new string**

In [ ]:
def removeChar(str, n):
  return str[n:]

print("Removing 0-5  chars")
print(removeChar("pynative", 6))

Removing 0-5  chars
ve

**5: Reverse numbers 121 and 125 and return true if it is the same as the original number.**

In [ ]:
def reverseCheck(number):
    print("original number", number)
    originalNum = number
    reverseNum = 0
    while (number > 0):
        reminder = number % 10
        reverseNum = (reverseNum * 10) + reminder
        number = number // 10
    if (originalNum == reverseNum):
        return True
    else:
        return False
  
      
    
print(reverseCheck(121))
print(reverseCheck(125))

original number 121
True
original number 125
False

**6: Given two list of numbers create a new list such that new list should contain only odd numbers from the first list and even numbers from the second list.**

1.  List 1  [10, 20, 23, 11, 17]
2.  List 2  [13, 43, 24, 36, 12]

In [ ]:
List_1= [10, 20, 23, 11, 17]
List_2 =[13, 43, 24, 36, 12]
List_3 = [n for n in List_1 if n%2]+[n for n in List_2 if not n%2]
print(List_3)

[23, 11, 17, 24, 36, 12]

**7: Write a code to extract each digit from the integer 7536  in the reverse order**

In [ ]:
n=7536
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
print(rev)

6357

**8. What is the output of the following code?**

In [ ]:
sampleList = ["Jon", "Kelly", "Jessa"]
sampleList.append(2, "Scott")
print(sampleList)

#1.the program excuted with errors

TypeError: ignored

1.   The program executed with errors
1.   [‘Jon’, ‘Kelly’, ‘Scott’, ‘Jessa’]
2.   [‘Jon’, ‘Kelly’, ‘Jessa’, ‘Scott’]
2.   [‘Jon’, ‘Scott’, ‘Kelly’, ‘Jessa’]

***9. What is the output of the following code?***

In [ ]:
valueOne = 5 ** 2
valueTwo = 5 ** 3

print(valueOne)
print(valueTwo)

#2.25 & 125
#these variables are calculating the factorial of the number.

25
125


1. 10
   15
2. 25 
   125
1.Error: invalid syntax

**10. Display the following data using string.format() method and as a message**
* totalMoney = 1000
* quantity =3
* price = 450

In [ ]:
print('The quantity of {quantity} x {price} equals a total of ${totalMoney}'.format(
     totalMoney=1000,
     quantity=3,
     price=450))

The quantity of 3 x 450 equals a total of $1000

**11: Print First 10 natural numbers using while loop**

In [ ]:
i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

**12.  Reverse the following list using for loop**

list1 = [10, 20, 30, 40, 50]

In [ ]:
list1 = [10, 20, 30, 40, 50]
start = len(list1) - 1
stop = -1
step = -1
for i in range(start, stop, step) :
    print(list1[i])

50
40
30
20
10

**13: Display a message “Done” after successful execution of for loop**

In [ ]:
for i in range(20):
    print(i)
else:
    print("Done!")

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
Done!

**14. Use a loop to display elements from the given list (my_list) which are present at even positions**
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in my_list[0::2]:
    print(i, end=" ")

10 30 50 70 90

**15. Create a list of your favourite 5 fruits. Then**

Add 2 new fruits to the list
What's the length of your list now?
Remove any one fruit from the list
What's the new length of the list now?
Could you sort the list?

In [ ]:
fruit_list= ['apples','oranges','peaches']
fruit_list.append('bananas')
fruit_list.append('blueberries')
print(fruit_list)
len(fruit_list)
fruit_list.remove('apples')
print(fruit_list)
len(fruit_list)
fruit_list.sort()
print(fruit_list)

['apples', 'oranges', 'peaches', 'bananas', 'blueberries']
['oranges', 'peaches', 'bananas', 'blueberries']
['bananas', 'blueberries', 'oranges', 'peaches']